.venv/
Datasets/
gitignore# Datasets
Datasets/

*.pth
*.pt
*.pkl

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/

*.log
*.tmp

.env
.env.*
!.env.example

Deployment/flask_app/instance/site.db
Documents/coursework_data.md
Documents/system_architecture.md
Documents/use_case_diagram.md
upload_to_hf.py